@import "normalize";
@import "grid";
@import "variables";
@import "mixins";
//mobile styles
html {
    font-size: 18px;
    line-height: 1.5;
    body {
        width: 100%;
        h1,
        h2,
        h3,
        h4 {
            margin: 3.375 auto 0 auto;
            text-align: center;
        }
        em {
            font-weight: bold;
        }
        blockquote {
            width: 95%;
            margin: 0 auto 1rem auto;
            text-align: center;
            background-color: $color3;
            border-bottom: 3px solid $color6;
            border-right: 6px solid $color6;
            span {
                float: left;
                padding: 0 7px;
                background-color: $color3;
                border-top: 3px solid $color6;
                border-left: 6px solid $color6;
                border-right: 6px solid $color6;
            }
        }
        a {
            text-decoration: none;
            cursor: pointer;
        }
        h1 strong {
            font-size: 2.75rem;
        }
        
        p {
            width: 90%;
            text-align: justify;
            margin: 0 auto 1.5rem auto;
        }
        code {
            @include code;
        }
        header {
           
            overflow: hidden;
            nav {
                top: 0;
                .navbar {
                    position: fixed;
                    top: 0;
                    background: $color1;
                    height: 60px;
                    border-bottom: 3px solid $color2;
                    
                    #mobileTrigger {
                        float: right;
                        padding: 12px 20px;
                        color: $color2;
                        font-size: 2rem;
                        i {
                            transition: .3s;
                        }
                    }
                    ul {
                        display: none;
                    }
                }
                div {
                    position: fixed;
                    top: 0;
                    z-index: 1000;
                    width: 100%;
                    img {
                        position: relative;
                        z-index: 1000;
                        border-radius: 50%;
                        box-shadow: 2px 2px 5px $color2;
                        width: 20%;
                    }
                }
                @keyframes visible {
                    from {
                        opacity: 0;
                    }
                    to {
                        opacity: 1;
                    }
                }
                .visible {
                    animation: visible 1s ease-in-out;
                    animation-fill-mode: forwards;
                }
                .mobileNav {
                    display: block;
                    position: fixed;
                    top: 0;
                    z-index: 500;
                    height: 600px;
                    height: 110vh;
                    width: 100%;
                    margin-top: 60px;
                    margin-left: -100%;
                    background: $color1;
                    font-size: 1.5rem;
                    transition: .3s;
                    @include links;
                    a:before {
                        background: $color1;
                    }
                    img {
                        width: 4rem;
                    }
                }
                .slideOut {
                    margin-left: 0;
                    transition: .3s;
                }
                .spinner {
                    transform: rotate(360deg);
                    transition: .3s;
                }
            }
        }
        main {
            overflow: hidden;
            margin-top: 3.375rem;            
            @include links;

            #summary {
                min-height: 90vh;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
                    url('../img/Ethernet-600px.gif') no-repeat -650px center fixed;
                background-size: cover;
                font-weight: bold;
                color: $color1;
                p {
                    background: rgba(0,0,0,0.7);
                    padding: 10px;
                    border-radius: 5px;
                }
            }

            #automatedTools {
                span {
                    text-decoration: underline;
                }
                i {
                    width: 100%;
                    text-align: center;
                    margin-top: 1.5rem;
                    margin-bottom: .75rem;
                    font-size: 2.25rem;
                }
                hr {
                    width: 30%;
                    border: 1px solid $color2;
                    margin-bottom: 1rem;
                }
                p {
                    text-align: center;
                }
            }
            #theGrid {
                p:nth-of-type(2) {
                    position: relative;
                    width: 10%;
                    text-align: left;
                    background-color: $color1;
                    padding: 1rem;
                    margin: 0 80% -3.75rem 10%;
                }
                .section {
                    margin-top: 2.25rem;
                    padding-top: 1.5rem;
                    border: 1px solid $color5;
                }
                .col1,
                .col2,
                .col3,
                .col4,
                .col5,
                .col6,
                .col7,
                .col8,
                .col9,
                .col10,
                .col11,
                .col12 {
                    background-color: blue;
                    p {
                        text-align: center;
                        padding: 1rem 0;
                    }
                }
            }
            
            #getStarted {
                li {
                    padding-bottom: 1rem;
                }
                hr {
                    width: 80%;
                    margin: 2.25rem auto;
                }
                p {
                    text-align: center;

                    &:last-of-type {
                    margin-bottom: 2.25rem;
                    }
                }
                img {
                    width: 95%;
                }
            }
        }
        #templating {
                em {
                    text-decoration: underline;
                }
                h4 {
                    margin-top: .75rem;
                }
                p {
                    margin-bottom: 1.5rem;
                }
                code {
                    border: none;
                }
                .col6 div {
                    width: 90%;
                    margin: 0 2.5%;
                    padding: 2.5%;
                    @include code;
                }
                .col6:nth-of-type(1) div {
                    margin-top: 3rem;
                }
                strong {
                    color: red;
                }
            }
        //tutorial.html styles
        aside {
            display: none;
        }
        .tutorialMain {
            width: 100%;
            overflow: hidden;
            margin-top: 4rem;
            @include links;

            #summary {
                min-height: 90vh;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
                    url('../img/Meter-600px.gif') no-repeat -650px center fixed;
                background-size: cover;
                font-weight: bold;
            }
            ol li {
                margin-bottom: 1rem;
            }
            
        }
        #download {
            overflow: hidden;
        }
        #getStartedTutorial {
            li {
                padding-bottom: 1rem;
            }
            hr {
                width: 80%;
                margin: 2.25rem auto;
            }
            p:last-of-type {
                margin-bottom: 2.25rem;
            }
            img {
                width: 90%;
                margin: 0 5% 1.5rem 5%;
            }
            .col6:nth-of-type(4) {
                margin-top: -5.063rem;
            }
        }
    }
    #gulpfile {
        .col12 p {
            text-align: center;
        }
    }
    #fileStructure {
        img {
            width: 100%;
        }
    }
    #navigating {
        span:nth-of-type(2),
        span:nth-of-type(7) {
            padding-left: 2rem; 
        }
        span:nth-of-type(3),
        span:nth-of-type(6) {
            padding-left: 4rem; 
        }
        span:nth-of-type(4),
        span:nth-of-type(5) {
            padding-left: 6rem; 
        }

    }
    #tutorialGrid {
        li {
            list-style-type: none;
            text-align: center;
        }
        .col1,
        .col2,
        .col3,
        .col4,
        .col5,
        .col6,
        .col7,
        .col8,
        .col9,
        .col10,
        .col11,
        .col12 {
            background-color: blue;
            p {
                text-align: center;
                padding: 1rem 0;
            }
        }
    }
    #navigating {
        p:nth-of-type(3) {
            @include code;
            code {
                border: none;
            }
        }
    }
    #wrapUp {}
    footer {
        position: relative;
        overflow: hidden;
        color: $color1;
        background-color: $color2;
        padding-top: 2.25rem;
        z-index: 400;
        a:hover {
            color: $color5,
        }
        p {
                    @include links;
                    a {
                        color: $color1;
                        &:before {
                            color: $color1;
                        }
                    }
                }
        img {
            width: 80%;
            margin: 1.5rem 10%;
        }
        li {
            list-style-type: none;
            display: inline;
            font-size: 2.25rem;
            padding: 0 10%;
            &:first-of-type {
                padding-left: 5%;
            }
        }
        
        form {
            input,
            label,
            select,
            textarea {
                width: 80%;
                margin: 0 10%;
            }
            label {
                font-size: .75rem;
            }
            input,
            select {
                margin-bottom: .50rem;
            }
            select {
                background-color: $color4;
            }
            option {
                margin-top: -100px;
            }
        }
        #copy {
            margin-bottom: 0;
            span {
                margin-left: 10%;
            }
            a {
                float: right;
                width: 20%;
                margin-right: 10%;
                i {
                    margin: 1rem 0 0 10%;
                    font-size: 3.375rem;
                }
            }
        }
        .tabletFormPosition {
            display: none;
        }
        a {
            color: $color1;
            text-decoration: none;
        }
    }
}
@media only screen and (min-width: 601px) {
    html {
        body {
            main {
                #summary {
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
                    url('../img/Ethernet-960px.gif') no-repeat center 45px fixed;
                    background-size: cover;
                    min-height: 70vh;
                }
            }
            .tutorialMain {
                #summary {
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
                        url('../img/Meter-960px.gif') no-repeat center 45px fixed;
                    background-size: cover;
                    min-height: 70vh;
                }
            }
        }
    }
}
//tablet styles
@media only screen and (min-width: 768px) {
    html {
        body {
            blockquote {
                width: 50%;
            }
            header {
                nav {
                    .mobileNav {
                        display: none;
                    }
                    .navbar {
                        display: inline;
                        position: fixed;
                        width: 100%;
                        height: 75px;
                        top: 0;
                        @include links;
                        #submenu a:before {
                            background: $color1;
                        }
                        a {
                            z-index: 1000;
                        }
                        span {
                            display: none;
                        }
                        ul {
                            display: block;
                            li {
                                font-size: 1rem;
                            }
                        }
                    }
                    div {
                        position: relative;
                        height: 75px;
                        background: $color3;
                        .logo {
                            padding-right: 5px;
                            &:after,
                            &:before {
                                background: transparent;
                            }
                        }
                        img {
                            width: 100px;
                        }
                        ul {
                            position: fixed;
                            width: 75%;
                            padding-left: 25%;
                            top: 10px;
                            background: $color3;
                            text-transform: uppercase;
                            li {
                                display: inline;
                                padding-right: 5%;
                                font-size: 1.25rem;
                            }
                        }
                        @keyframes slideDown {
                            from {
                                top: -100px;
                            }
                            to {
                                top: -35px;
                            }
                        }
                        .slideDown {
                            animation: slideDown .5s ease-in-out;
                            animation-fill-mode: forwards;
                        }
                    }
                    .slideUp {
                        display: block;
                        position: relative;
                        float: left;
                        z-index: 0;
                        width: 100%;
                        height: 50px;
                        background: $color1;
                        top: -100px;
                        padding-top: 1rem;
                        border-bottom: 1px solid $color3;
                        transition: .3s;
                        li {
                            display: inline;
                            padding-right: 5%;
                            font-size: 1.25rem;
                            text-transform: lowercase;
                            &:first-of-type {
                                margin-left: -5%;
                            }
                        }
                    }
                
                }
            }
            main {
            #summary {
                min-height: 50vh;
            }

            #robots {
                blockquote {
                    width: 70%;
                }
            }
             #navigating {
                p:nth-of-type(3) {
                    width: 60%;
                    margin: 0 20% 2rem 20%;
                }
            }
                ol {
                    width: 60%;
                    margin: 0 20%;
                    li {
                        margin-bottom: 1rem;
                    }
                }
            }
            .tutorialMain {
                #summary {
                    min-height: 50vh;
                }
            }
            footer {

                .mobileFormPosition {
                    display: none;
                }
                .tabletFormPosition {
            display: inline;
        }
                img {
                    width: 100%;
                }
                li {
                    display: block;
                    &:first-of-type {
                        padding-left: 10%;
                    }
                    &:last-of-type {
                        padding-left: 5%;
                    }
                }
                #copy a i {
                    margin-left: 50%
                }
            }
        }
    }
}

//notebook styles
@media only screen and (min-width: 960px) {
    html {
        font-size: 20px;
        body {
            blockquote {
                width: 40%;
            }
            section {
                margin-bottom: 2.5rem;
            }
            p {
                width: 80%;
            }
            header {
                nav {
                    .navbar {
                        ul {
                            width: 70%;
                            li {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
            //tutorial.html styles
            aside {
                display: block;
                position: fixed;
                float: left;
                margin-top: 3.5rem;
                width: 15%;
                background-color: $color3;
                font-size: .7rem;
                font-weight: bold;
                @include links;

                a:before {
                    background: $color3;
                }
                ul {
                    margin-left: -10%;
                }
        
                li {
                    list-style-type: none;
                    padding-left: 10%;
                    .active {
                        color: $color5;
                        &:after {
                            right: 0;
                        }
                    }
                }
                li:nth-of-type(1),
                li:nth-of-type(2),
                li:nth-of-type(6),
                li:nth-of-type(7),
                li:nth-of-type(22),
                li:nth-of-type(23),
                li:nth-of-type(24),
                li:nth-of-type(25) {
                    padding-left: 0;
                }
                li:nth-of-type(18),
                li:nth-of-type(19),
                li:nth-of-type(20),
                li:nth-of-type(21) {
                    padding-left: 20%;
                }
            }
            a {
                text-decoration: none;
            }
            a:before {
                background: $color2;
            }
            .tutorialMain {
            float: right;
            width: 85%;
        
            #getStartedTutorial {
                li {
                width: 70%;
                margin: 0 15%;
                }
            }

        main {}
        footer {
            li {
                &:last-of-type {
                    padding-left: 7.5%;
                }
            }
        }
        }

    }
}

//large screen styles
@media only screen and (min-width: 1400px) {
    body {
        max-width: 80%;
        margin: 0 10%;
    }
}
}